<section class="product-details">
    <div class="product-container">
        <h1 class="title-pd">{{product.title}}</h1>
    </div>

    <div class="product-content">
        <img src="{{product.thumbnails.[0]}}" alt="{{product.title}}" class="product-image">
        <div class="product-info">
            <p><strong>Description:</strong> {{product.description}}</p>
            <p><strong>Category:</strong> {{product.category}}</p>
            <p><strong>Price:</strong> ${{product.price}}</p>
            <p><strong>Stock available:</strong> {{product.stock}}</p>

            <div class="quantity-selector">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" value="1" min="1" max="{{product.stock}}">
            </div>

            <button id="add-to-cart" data-id="{{product._id}}">Add to Cart</button>
        </div>
    </div>
</section>

{{!-- <script src="/js/productDetails.js"></script> --}}
